.section{

    &__header{
        text-align: center;
    }
    &__title{
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 50px;
        color: @white;
    }

    &__subtitle{
        font-family: 'Waiting for the Sunrise', cursive;
        font-size: 30px;
        color: @white;
    }
}